<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDpQluM9xI9qZXBlKsEopLP7Gxjwj-xQkY</string>
	<key>GCM_SENDER_ID</key>
	<string>338029020073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.wilayaliguesoccer</string>
	<key>PROJECT_ID</key>
	<string>wilaya-soccer-project</string>
	<key>STORAGE_BUCKET</key>
	<string>wilaya-soccer-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338029020073:ios:9f4cbf3636c63e44f37ab8</string>
	<key>DATABASE_URL</key>
	<string>https://wilaya-soccer-project-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>